/* https://paletadecores.com/paleta/fcf9ce/c4e0a6/dea37a/bd3737/d54c4a/ */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  font-family: 'Lora', serif;
  max-width: 1200px;
  max-height: 800px;
  margin: auto;
}

  .page-title {
    margin: 40px 20px 0px 20px;
    font-size: 2.5rem;
    color:rgb(188, 157, 117);
    text-align: center;
  }

  .task-form, .task-section {
    display: block;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(242, 219, 189, 0.5);
    border-radius: 20px;
  }

    .task-label {
      font-size: 1.5rem;
      padding-top: 20px;
      color:rgb(143, 119, 85);
    }
    
    .task-infos {
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;
      margin-bottom: 20px;
    }

      .task-fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

        .task-input:focus {
          outline: 2px solid rgb(188, 157, 117);
        }

        .task-name, .task-priority, .task-date {
          color:rgb(128, 106, 76);
        }

        .task-input {
          height: 30px;
          width: 450px;
          border-radius: 10px;
          border-style: none;
        }

        .priority, .date {
          width: 100px;
        }
    
      .task-btn {
        height: 30px;
        width: 80px;
        margin: 10px 0 10px 0;
        border-radius: 20px;
        color: white;
        background-color:rgb(188, 157, 117);
        border: transparent;
      }

      .task-btn:hover, .priority:hover, .date:hover, .edit-btn:hover, .delete-btn:hover {
        cursor: pointer;
        box-sizing: border-box;
      }

      .task-btn:hover, .edit-btn:hover, .delete-btn:hover {
        border: 2px solid rgb(105, 87, 64);
      }

  .task-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

    .display-titles, .display-task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 20px;
    }

    .display-task {
      background-color: white;
    }

      .checkbox-img, .checkbox-space {
        height: 30px;
        width: 30px;
      }

      .checkbox-img:hover {
        cursor: pointer;
      }

      .display-edition, .display-deletion, .display-name, .display-priority, .display-date {
        color:rgb(128, 106, 76);
      }

      .display-name {
        width: 550px;
      }

      .checked {
        text-decoration: line-through;
      }

      .display-priority, .display-date {
        width: 100px;
      }

      .edit-btn, .delete-btn {
        color: white;
        background-color:rgb(188, 157, 117);
        height: 30px;
        width: 50px;
        border-radius: 10px;
        border-style: none;
      }