/* https://paletadecores.com/paleta/fcf9ce/c4e0a6/dea37a/bd3737/d54c4a/ */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  font-family: 'Lora', serif;
  max-width: 1200px;
  max-height: 800px;
  margin: auto;
}

  .page-title {
    margin-top: 30px;
    font-size: 2.5rem;
    color:rgb(188, 157, 117);
    text-align: center;
  }

  .task-form, .task-section {
    display: block;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(242, 219, 189, 0.5);
    border-radius: 20px;
  }

    .task-label {
      font-size: 1.6rem;
      color:rgb(143, 119, 85);
    }
    
    .task-infos {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      margin-bottom: 20px;
    }

      .task-fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

        .task-name, .task-priority, .task-date {
          font-size: 1.1rem;
          color:rgb(128, 106, 76);
        }

        .task-input {
          height: 35px;
          width: 450px;
          border-radius: 10px;
          border-style: none;
        }

        .task-input:focus {
          outline: 2px solid rgb(188, 157, 117);
        }

        .priority, .date {
          width: 100px;
        }
    
    .task-btn {
      height: 30px;
      width: 80px;
      border-radius: 20px;
      font-size: 1rem;
      color: white;
      background-color:rgb(188, 157, 117);
      border: transparent;
    }

      .task-btn:hover, .priority:hover, .date:hover, .edit-btn:hover, .delete-btn:hover, .checkbox-img:hover {
        cursor: pointer;
      }

      .task-btn:hover, .edit-btn:hover, .delete-btn:hover {
        border: 2px solid rgb(105, 87, 64);
      }

  .task-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:rgb(128, 106, 76);
  }

    .display-titles, .display-task {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      border-radius: 20px;
    }

    .display-task {
      background-color: white;
      align-items: center;
      padding-top: 6px;
      padding-bottom: 6px;
    }

      .checkbox-img, .checkbox-space {
        margin-left: 9px;
        height: 25px;
        width: 25px;
      }

      .checkbox-space {
        display: flex;
        cursor: pointer;
      }

      .sort-btn-checked, .sort-btn-name, .sort-btn-priority, .sort-btn-date {
        height: 6px;
        width: 10px;
        margin-left: 5px;
      }

      .display-name, .display-priority, .display-date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100px;
      }

      .p-name, .sort-btn-name, .display-priority, .display-date {
        cursor: pointer;
      }

      .display-name {
        width: 550px;
      }

      .display-priority {
        justify-content: left;
      }

      .display-edition, .display-deletion {
        width: 50px;
      }

      .display-deletion, .delete-btn {
        margin-right: 9px;
      }

      .checked {
        text-decoration: line-through;
        text-decoration-thickness: 1.5px;
      }

      .edit-btn, .delete-btn {
        color: white;
        background-color:rgb(188, 157, 117);
        height: 25px;
        width: 50px;
        border-radius: 10px;
        border: 2px solid transparent;
      }

    .no-data {
      padding: 20px 0px 20px 0px;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

  .modal-wrapper-edit, .modal-wrapper-deletion {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: black;
    background-color: rgba(0, 0, 0, 0.7)
  }

  .hide {
    display: none;
  }

    .section-wrapper-edition, .section-wrapper-deletion {
      position: fixed;
      top: 150px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: 0 auto;
      max-height: 250px;
      max-width: 400px;
      background-color:rgb(188, 157, 117);
      border-radius: 20px;
    }

    .section-wrapper-deletion {
      max-height: 150px;
    }

      .confirmation-title, .labelCheckMsg {
        display: block;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 20px;
      }

      .labelCheckMsg {
        font-size: 0.9rem;
      }

      .edit-fieldset {
        display: flex;
        justify-content: space-between;
        margin: 20px 25px 20px 25px;
      }

        .edit-name-input, .edit-priority-input, .edit-date-input {
          border-radius: 6px;
          border-style: none;
        }

      .btn-wrapper {
        display: flex;
        gap: 20px;
        position: absolute;
        left: 90px;
        bottom: 20px;
      }

        .confirm-deletion-btn, .cancel-deletion-btn, .confirm-edition-btn, .cancel-edition-btn {
          display: block;
          color: white;
          background-color: rgb(128, 106, 76);
          height: 30px;
          width: 100px;
          border-radius: 10px;
          border: 2px solid transparent;
        }

        .confirm-deletion-btn:hover, .cancel-deletion-btn:hover, .confirm-edition-btn:hover, .cancel-edition-btn:hover {
          cursor: pointer;
          border: 2px solid rgb(73, 63, 49);
        }